$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$xBold-weight: 800;

$h6: 18px;
$h5: 20px;
$h4: 24px;
$h3: 32px;
$h2: 40px;
$h1: 48px;
$base: 16px;
$xSmall: 10px;
$small: 12px;
$medium: 14px;
$large: 16px;
$xLarge: 18px;

// Typography
$base-font-family: "Manrope", sans-serif;
$heading-font-family: $base-font-family;
