<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>
  <body>
    <div class="main" id="react-app" data-controller="modal">
      <%= javascript_pack_tag 'App' %>
    </div>
  </body>
</html>
